* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar-s1 {
    background-color: #5022C3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.navbar-s1 img {
    height: 10px;
    width: 10px;
}

.navbar-s1 p {
    flex-grow: 1;
}

.navbar-s2 {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

.navbar-s2 button,
.navbar-s2 a {
    cursor: pointer;
}

.udemylogo {
    height: 35px;
    width: 150px;
}

.navbar-s2__search {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border: solid grey 1px;
    border-radius: 30px;
    width: 40%;
    gap: 20px;
    position: relative;
}

.navbar-s2__search__input {
    width: 100%;
    align-items: center;
    gap: 10px;
}

.navbar-s2__search img {
    height: 20px;
    width: 20px;
}

.navbar-s2__search input {
    width: 95%;
    flex-grow: 1;
    border: none;
    font-size: 15px;
}

.navbar-s2__search input:focus {
    outline: none;
}

.navbar-s2__search__list {
    position: absolute;
    top: 103%;
    left: 0px;
    padding: 10px;
    width: 97%;
    background-color: white;
    border: 1px solid silver;
    display: none;
}

/*
.navbar-s2__search__input input:hover .navbar-s2__search__list {
    display: block;}
*/
.navbar-s2__search__list__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar-s2__search__list__desc h4 {
    padding: 10px;
}


.navbar-s2__search__list__desc li {
    list-style-type: none;
    align-items: center;
}

.navbar-s2__list {
    display: flex;
    padding: 10px;
}

.navbar-s2__list:hover {
    background-color: #EDE5F9;
}

.navbar-s2__list a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    display: block;
}

.navbar-s2-pricing {
    text-decoration: none;
    color: black;
    height: 20px;
    padding: 10px;
}

.navbar-s2-pricing:hover {
    height: 20px;
    padding: 10px;
    background-color: #EDE5F9;
    color: #5022C3;
    border: none;
    border-radius: 5px;
}

.navbar-s2-udemybusiness {
    position: relative;
    text-align: center;
    height: 20px;
    padding: 10px;
}

.navbar-s2-udemybusiness:hover {
    padding: 10px;
    height: 20px;
    background-color: #EDE5F9;
    border: none;
    border-radius: 5px;
}

.navbar-s2-udemybusiness a {
    text-decoration: none;
    color: black;
}

.navbar-s2-udemybusiness a:hover {
    color: #5022C3;
}

.navbar-s2-udemybusiness__popup {
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 20px;
    width: 250px;
    background-color: white;
    color: black;
    border: 1px solid silver;
    border-radius: 5px;
    display: none;
    text-align: center;
}

.navbar-s2-udemybusiness__popup h3 {
    margin-bottom: 10px;
}

.navbar-s2-udemybusiness__popup button {
    background-color: #5022C3;
    color: white;
    margin: 1%;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.navbar-s2-udemybusiness:hover .navbar-s2-udemybusiness__popup {
    display: block;
}

.navbar-s2-teachonudemy {
    position: relative;
    text-align: center;
    height: 20px;
    padding: 10px;
}

.navbar-s2-teachonudemy:hover {
    background-color: #EDE5F9;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.navbar-s2-teachonudemy a {
    color: black;
    text-decoration: none;
}

.navbar-s2-teachonudemy a:hover {
    color: #5022C3;
}

.navbar-s2-teachonudemy__popup {
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: white;
    color: black;
    border: 1px solid silver;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    padding: 20px;
    display: none;
}

.navbar-s2-teachonudemy__popup h3 {
    margin-bottom: 10px;
}

.navbar-s2-teachonudemy__popup button {
    background-color: #5022C3;
    color: white;
    margin: 1%;
    padding: 10px;
    width: 100%;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}

.navbar-s2-teachonudemy:hover .navbar-s2-teachonudemy__popup {
    display: block;
}

.navbar-s2a__cart {
    position: relative;
}

.navbar-s2__cart {
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.navbar-s2__cart:hover {
    height: 40px;
    width: 40px;
    background-color: #EDE5F9;
    border: none;
    border-radius: 5px;
}

.navbar-s2__cart img {
    height: 20px;
    width: 20px;
}

.navbar-s2__cart__popup {
    position: absolute;
    padding: 20px 0px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    top: 100%;
    right: 0px;
    width: 250px;
    text-align: center;
    display: none;
}

.navbar-s2__cart__popup p {
    margin-bottom: 10px;
}

.navbar-s2__cart__popup a {
    color: #5022C3;
    text-decoration: none;
}

.navbar-s2a__cart:hover .navbar-s2__cart__popup {
    display: block;
}


.navbar-s2__login {
    background-color: white;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.navbar-s2__login:hover {
    background-color: #EDE5F9;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.navbar-s2__signup {
    background-color: #5022C3;
    color: white;
    border: solid #5022C3 1px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.navbar-s2__signup:hover {
    background-color: #6038c5;
    color: white;
    border: solid #5022C3 1px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    padding: 10px;
    font-weight: bold;
}

.navbar-s2__internet {
    height: 40px;
    width: 40px;
    background-color: white;
    border: solid #5022C3 1px;
    border-radius: 5px;
}

.navbar-s2__internet:hover {
    height: 40px;
    width: 40px;
    background-color: #EDE5F9;
    border: solid #5022C3 1px;
    border-radius: 5px;
}

.navbar-s2__internet img {
    height: 15px;
    width: 15px;
}

.header-image {
    padding: 0px 3%;
    width: 94%;
}

.header-image-s1 {
    position: relative;
}

.header-image__desc {
    background-color: white;
    color: black;
    position: absolute;
    top: 15%;
    left: 8%;
    width: 25%;
    padding: 15px 15px 25px 25px;
    border: none;
    border-radius: 5px;
}

.header-image__desc h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    margin-bottom: 10px;
}

.desc-s1a {
    padding: 25px 100px;
}

.desc-s1a h1 {
    font-family: 'Times New Roman', Times, serif;
}

.desc-s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.desc-s1__one,
.desc-s1__two,
.desc-s1__three {
    margin-top: 10px;
    padding: 10px;
    border: solid silver 1px;
    border-radius: 20px;
    flex-grow: 1;
}

.desc-s1__one:hover,
.desc-s1__two:hover,
.desc-s1__three:hover {
    margin-top: 10px;
    padding: 10px;
    border: solid silver 1px;
    border-radius: 20px;
    background-color: #5022C3;
    color: white;
}


.desc-s1__one img,
.desc-s1__two img,
.desc-s1__three img {
    width: 100%;
    border-radius: 10px;
}

.desc-s1__one p,
.desc-s1__two p,
.desc-s1__three p {
    margin-top: 5px;
    font-size: 13px;
}

.desc-s1__one button,
.desc-s1__two button,
.desc-s1__three button {
    padding: 5px;
    border: solid silver 1px;
    border-radius: 5px;
    background-color: #5022C3;
    color: white;
    height: 30px;
    cursor: pointer;
}

.desc-s1__one button:hover,
.desc-s1__two button:hover,
.desc-s1__three button:hover {
    padding: 5px;
    border: solid blue 1px;
    border-radius: 5px;
    background-color: white;
    color: #5022C3;
    height: 30px;
    cursor: pointer;
}

.desc-s1__button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.desc-s1__button:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #5022C3;
    color: white;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.coursenavbar {
    padding: 0px 0px 25px 100px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: solid silver 1px;
}

.coursenavbar p {
    padding: 15px;
    cursor: pointer;
    color: grey;
}

.coursenavbar p:hover {
    padding: 15px;
    cursor: pointer;
    color: black;
    border-bottom: solid black 3px;
}

.coursenavbar-s1 {
    padding: 10px 0px 10px 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F7F9;
}

.coursenavbar-s2 {
    margin: 10px;
    padding: 20px;
    background-color: #D1D2E0;
    color: black;
    border: none;
    border-radius: 50px;
}

.coursenavbar-s2:hover {
    margin: 10px;
    padding: 20px;
    background-color: #33364A;
    color: white;
    border: none;
    border-radius: 50px;
}

.coursenavbar-s2 p {
    font-size: 12px;
}

.course-container {
    background-color: #F6F7F9;
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    /*
    flex-basis: 20%;*/
}

.course {
    /*
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    border: solid silver 1px;
    border-radius: 10px;
    /*
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    flex-grow: 1;*/
    width: 300px;
}

.course:hover {
    /*
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    border: solid silver 1px;
    border-radius: 10px;
    /*
    flex-basis: 23%;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    flex-grow: 1;*/
    width: 300px;
    background-color: #111116;
    color: white;
}

.course img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.course p,
.course h4 {
    padding: 0px 10px 10px 10px;
}

.course p {
    font-size: 14px;
}

.course-button__premium img {
    height: 12px;
    width: 12px;
}

.course-button__premium {
    border: none;
    border-radius: 3px;
    background-color: #5022C3;
    color: white;
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

/*
.course-button__premium b {
    background-color: #5022C3;
    color: white;
    cursor: pointer;
}
*/
.course-button__bestseller {
    border: none;
    border-radius: 3px;
    background-color: silver;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.courseb {
    font-size: 16px;
    font-weight: bolder;
    color: red;
}

.course__button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.course__button:hover {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 10px;
    background-color: #5022C3;
    color: white;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.categories-container {
    padding: 30px 100px;
    background-color: white;
}

.categories-container h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.categories-container__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.categories-container__data__1,
.categories-container__data__2,
.categories-container__data__3,
.categories-container__data__4,
.categories-container__data__5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.categories-container__data__1 img,
.categories-container__data__2 img,
.categories-container__data__3 img,
.categories-container__data__4 img,
.categories-container__data__5 img {
    height: 125px;
    width: 200px;
    background-color: silver;
}

.categories-container__data__1 p,
.categories-container__data__2 p,
.categories-container__data__3 p,
.categories-container__data__4 p,
.categories-container__data__5 p {
    font-size: 12px;
}

.customers {
    padding: 0px 100px;
    background-color: white;
    color: grey;
    text-align: center;
}

.customers p {
    margin-bottom: 20px;
    font-size: 20px;
}

.customers__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    gap: 20px;
}

.learners {
    padding: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 10px;
}

.learners__one {
    flex-basis: 16%;
}

.learners__one p {
    font-size: 12px;
}

.learners__one__star {
    color: red;
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
}

.learners__one h5 {
    font-size: 12px;
}

.learners__one h4,
.learners__one h5,
.learners__one p {
    padding-top: 5px;
}

.course-button__premium b {
    color: white;
}

/*
.learning h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.learning {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #F6F7F9;
    display: flex;
    flex-wrap: wrap;
}
.learning-s1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.learning-s1__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
}
.learning-s1__main img{
    width: 400px;
    height: 600px;
}

.learning-s1__main__sub1 img{
    height: 50px;
    width: 50px;
}*/
.subscription {
    padding: 50px 100px;
}

.subscription h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.subscription__desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.subscription__desc__details {
    border-top: solid #5022C3 10px;
    border-left: solid silver 1px;
    border-right: solid silver 1px;
    border-bottom: solid silver 1px;
    border-radius: 10px;
    flex-basis: 32%;
    flex-grow: 1;
}

.subscription__desc__details img {
    height: 15px;
    width: 15px;
}

.subscription__desc__details ul {
    padding: 10px 0px;
}

.subscription__desc__details li {
    list-style-type: none;
    padding: 5px 10px;
}

.subscription__desc__details h3 {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.subscription__desc__details__one {
    background-color: #F6F7F9;
}

.subscription__desc__details p {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.subscription__desc__details h4 {
    padding: 10px;
}

.subscription__desc__details button {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 95%;
    text-align: center;
    cursor: pointer;
    background-color: #5022C3;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.subscription__desc__details button:hover {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 95%;
    text-align: center;
    cursor: pointer;
    background-color: #7759c4;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.testimonial {
    background-color: #F6F7F9;
    padding: 50px 100px;
}

.testimonial h1 {
    font-family: 'Times New Roman', Times, serif;
}

.testimonial__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.testimonial__main__sub {
    background-color: white;
    border: solid grey 1px;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 22%;
}

.advertisement {
    background-color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 40%;
}

.advertisement-s1 h1 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.advertisement-s1 p {
    padding-bottom: 20px;
}

.advertisement-s1 button {
    padding: 10px;
    background-color: white;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.advertisement-s1 button:hover {
    padding: 10px;
    background-color: #EDE5F9;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.advertisement-s2 img {
    width: 100%;
    flex-grow: 1;
}

.trending {
    padding: 50px 100px;
    background-color: #F6F7F9;
}

.trending__header {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid silver 1px;
    padding-bottom: 20px;
}

.trending__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending__main__sub {
    padding-top: 20px;
}

.trending__main__sub img {
    height: 20px;
    width: 20px;
}

.trending__main__sub h2,
.trending__main__sub h1,
.trending__main__sub h3 {
    padding-bottom: 10px;
}

.trending__main__sub p {
    padding-bottom: 20px;
    color: grey;
}

.trending__main__sub h3 {
    color: #5022C3;
    cursor: pointer;
}

.trending__main__sub h3:hover {
    text-decoration: underline;
}

.trending__main__sub button {
    padding: 10px;
    background-color: white;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.trending__main__sub button:hover {
    padding: 10px;
    background-color: #EDE5F9;
    color: #5022C3;
    border: solid #5022C3 1px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
}

.footer-image {
    padding: 50px 100px;
    background-color: #F6F7F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    flex-basis: 40%;
}

.footer-image-s1 {
    width: 30%;
    flex-grow: 1;
}

.footer-image-s2 img {
    width: 100%;
}

.footer-image-s1a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    display: flex;
    border-bottom: solid silver 1px;
    gap: 10px;
}

.footer-image-s1a h1 {
    font-size: 50px;
}

.footer-image-s1 button {
    margin-top: 20px;
    padding: 10px;
    background-color: #5022C3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.footer-image-s1 button:hover {
    margin-top: 20px;
    padding: 10px;
    background-color: #7759c4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}


.footer-s1 nav {
    background-color: #1D1E27;
    color: white;
    padding: 20px 50px;
    border-bottom: solid white 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-s1 h3 {
    flex-grow: 1;
}

.footer-s2 {
    background-color: #1D1E27;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-s2 h3 {
    padding-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-s2a,
.footer-s2b,
.footer-s2c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

.footer-s2a div,
.footer-s2b div,
.footer-s2c div {
    align-items: center;
    flex-basis: 23%;
}

.footer-s2a h4,
.footer-s2b h4,
.footer-s2c h4 {
    padding-bottom: 15px;
}

.footer-s2a p,
.footer-s2b p,
.footer-s2c p {
    font-size: 14px;
    padding-bottom: 5px;
    cursor: pointer;
}

.footer-s2a p:hover,
.footer-s2b p:hover,
.footer-s2c p:hover {
    font-size: 14px;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.footer-s2c {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #111116;
    color: white;
    border-bottom: solid white 1px;
}

.footer-s3 nav {
    background-color: #111116;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-s3__cookie {
    flex-grow: 2;
    text-align: center;
    cursor: pointer;
}

.footer-s3__cookie:hover {
    flex-grow: 2;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.footer-s3__english {
    cursor: pointer;
}